<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Quem Somos</ion-title>
  </ion-toolbar>
</ion-header>
<div class="foto"><br>
  <img src="assets/img/1.jpg" width="310PX" />
</div>
<ion-content>

  <ion-card class="bg-white" no-margin>
    <br><br>
      <div class="t">
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Presente!</strong></ion-text>
      </h1><br><br>
    </div>
      
      <h1 margin-bottom>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
        
        </h1>
      
      <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
      </h1>
  </ion-card>
</ion-content>

