<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Contatos</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formGroup">
        <ion-list>
            <ion-item>
              <ion-label fixed >Nome</ion-label>
              <ion-input formControlName="nome" placeholder="Seu Nome" ></ion-input>
            </ion-item>
        </ion-list>
    <ion-list>
        <ion-item>
          <ion-label fixed >E-mail</ion-label>
          <ion-input formControlName="email" placeholder="Seu Email" ></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
          <ion-label fixed >Assunto</ion-label>
          <ion-input formControlName="assunto" placeholder="Qual o Assunto?" ></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
          <ion-label fixed >Mensagem</ion-label>
          <textarea formControlName="mensagem" placeholder="Sua Mensagem" rows="5" cols="130"></textarea>
        </ion-item>
    </ion-list>
  <ion-button expand="full" (click)="enviar()">Enviar</ion-button>
    </form>
</ion-content>
