<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Funcionarios Cadastro</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Matricula</ion-label>
        <ion-input formControlName="matricula" value="{{funcionarios.matricula}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" value="{{funcionarios.nome}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Salario</ion-label>
        <ion-input formControlName="salario" value="{{funcionarios.salario}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Cargo</ion-label>
        <ion-input formControlName="cargo" value="{{funcionarios.cargo}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" value="{{funcionarios.email}}" type="text">
          </ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  <ion-button color="danger" expand="full" (click)="confirm()">Excluir</ion-button>
  </form>
</ion-content>
