<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pessoas Cadastro</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Matricula</ion-label>
        <ion-input formControlName="matricula" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Salario</ion-label>
        <ion-input formControlName="salario" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Cargo</ion-label>
        <ion-input formControlName="cargo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </form>
</ion-content>
