<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre Nós
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <div class="user-photo" padding-top>
                <ion-avatar><img src="../../assets/img/logo.png">
                </ion-avatar>
              </div>
          <ion-card-subtitle>v 1.0</ion-card-subtitle>
          <ion-card-title>Presente! App</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Projeto alpha do aplicativo para gerenciamento de frequência em grupos com banco de dados e cadastro individual.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
          <ion-item>
          <ion-icon name="" slot="start"></ion-icon>
          <ion-label><b>Contato</b></ion-label>
        </ion-item><ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label><b>emailparacontato@gmail.com</b></ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label><b>(21) 99895-5442</b></ion-label>
          </ion-item>
          <ion-item>
              <ion-icon name="hammer" slot="start" (click)="developer()" ></ion-icon>
            <ion-icon name="arrow-dropright" slot="end" (click)="developer()" ></ion-icon>
            <ion-label (click)="developer()"><b>Desenvolvedores</b></ion-label>
          </ion-item>
        <ion-card-content>
          *O E-mail e telefone listados acima serviram apenas para contato sobre o aplicativo.
        </ion-card-content>
      </ion-card>
</ion-content>