:host{
    ion-list {
        margin-top: 24px;
        font-weight: bold;
        p {
          font-size: 10px;
          font-weight: 400;
          padding-bottom: 4px;
          font-weight: bold;
        };
        h2 {
          font-weight: 200;
          opacity: .5;
          
        }
      }

      .image-upload>input {
        display: none;
        
      }
      #myFileInput{
        position: absolute;
        opacity: 0;
      }

      
}

.ion-input{ 
    text-align: center;
    padding-top: 6px;
}