<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Chamados Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="formGroup"> <!-- vínculo com a variável formGroup  -->
  <ion-list>
        <ion-item>
          <ion-label floating>data</ion-label>
          <ion-input formControlName="data" type="text"></ion-input>
          </ion-item>


      <ion-item>
          <ion-label >Id Funcionario</ion-label>
          <ion-select  value="" okText="Okay" cancelText="Dismiss" formControlName="idFuncionario">
          <ion-select-option *ngFor="let item of listaFuncionarios" value="{{item.id}}">{{item.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
        <ion-label floating>Nome Equipamento</ion-label>
        <ion-input formControlName="nomeEquipamento" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Defeito</ion-label>
          <ion-input formControlName="defeito" type="text"></ion-input>
          </ion-item>
</ion-list>
<ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
</form>
</ion-content>
